html{
	background: url("images/flora_and_fauna.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	min-height: 100%;
}

body{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	margin: 0 0 200px;
	padding:25px;
}

footer{
	width:100%;
	height:150px;
	position:absolute;
	bottom:0;
	left:0;
}