{% extends 'base.html' %}

{% block content %}

<div id="desc">

<h1>Integrative QTL project</h1>

<p>In a recent national study on maternal effects on seed quality, 165 homozygous recombinant lines of Arabidopsis thaliana grouped in a number of different growth conditions were genotyped based on 69 markers and transcript levels were measured. These lines were also extensively phenotyped, with the goal of performing generalized genetical genomics [1] correlating genotype with phenotype (expression) under a range of conditions. Levels of a number of primary metabolites were measured as well.</p>

<p>In this project, the goal is to develop methods to learn which genes influence which genotype, extending the QTL approach by incorporating expression and metabolic pathway information [2]. Prior knowledge on metabolic regulation and the relation between condition and metabolic activation can be used to refine the search and zoom in on possible mechanistic explanations of the observed phenotypes. The desired outcome is a method to optimally combine genetical genomics data with prior knowledge.</p>

<p>[1] Y. Li et al. (2008) Generalizing genetical genomics: getting added value from environmental perturbation. Trends Genetics 24(10):518-24.</p> 
<p>[2] R.C. Jansen et al. (2009) Defining gene and QTL networks. Current Opinion in Plant Biology 2009, 12:16. 2009, 12:16.</p>

</div>

{% endblock %}