{% extends 'base.html' %}

{% block content %}

{% if marker %}

<ul>
	<li>Marker name: {{ marker.marker_name }}</li>
	<li>Marker chromosome: {{ marker.marker_chromosome }}</li>
	<li>Marker cm: {{ marker.marker_cm }}</li>
	<li>Marker physical position: {{ marker.marker_phys_pos }}</li>
</ul>

{% else %}

	<form action="." method="get">
		<label for="search_marker">Marker name</label>
		<input id="search_marker" title = "i.e. KI9I" name ="marker" type="text"/>
		<input type="submit" id="search_submit" value="Search" />
	</form>
{% endif %}
{% endblock %}