{% extends 'base.html' %}
{% block content %}
{% if search_metabolite %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'qtl/css/canvasXpress.css' %}" type="text/css"/>
<script type="text/javascript" src="{% static 'qtl/js/canvasXpress.min.js' %}"></script>

<script id='demoScript'> 

var search_metabolite_js = {{ search_metabolite|safe }};


{% if is_ril_exp %}

var ril_type_list_js = {{ js_ril_type_list|safe }};
var ril_exp_list_js = {{ js_ril_avg_exp_list|safe }};

{% endif %}

{% if is_parent_exp %}

var parent_type_list_js = {{ parent_type_list|safe }};
var parent_exp_list_js = {{ parent_exp_list|safe }};

{% endif %}


{% if is_gxp_exp %}

var marker_list_js = {{js_marker_list|safe}};
var exp_list_js = {{js_lod_list|safe}};

{% endif %}

{% if is_gxe_exp %}

var marker_env_list_js = {{js_marker_env_list|safe}};

var exp_env_list_js = {{js_lod_env_list|safe}};

{% endif %}

{% if is_gxp_exp and is_gxe_exp %}
var marker_all_list_js = {{js_marker_all_list|safe}};
var exp_all_list_js = {{js_lod_all_list|safe}};

{% endif %}

var showDemo = function () {
	
	{% if is_parent_exp %}
    var cx1 = new CanvasXpress('canvas1',
      {
        'y':{
        	'smps' : parent_type_list_js,
        	'data' : parent_exp_list_js,
         	'vars' : ['Expression in parent']
        	}
     },
      {'axisTickFontStyle': 'bold',
      'axisTickScaleFontFactor': 1.5,
      'axisTitleFontStyle': 'italic',
      'axisTitleScaleFontFactor': 1.5,         
      'citationFontStyle': 'italic',
      'fontStyle': 'italic',
      'graphOrientation': 'vertical',
      'graphType': 'Bar',
      'legendBox': false,
      'legendScaleFontFactor': 1.2,
      'marginBottom': 30,
      'showShadow': true,
      'title': search_metabolite_js,
      'titleHeight': 60,
      'xAxis2Show': false
      }
    );
    
    {% endif %}
    
    {% if is_ril_exp %}
  
	var cx2 = new CanvasXpress('canvas2',{
	        'y':{
	        	'smps' : ril_type_list_js,
	        	'data' : ril_exp_list_js,
	         	'vars' : ['RIL expression']
	        }
	     },
	      {'axisTickFontStyle': 'bold',
	      'axisTickScaleFontFactor': 1.5,
	      'axisTitleFontStyle': 'italic',
	      'axisTitleScaleFontFactor': 1.5,         
	      'citationFontStyle': 'italic',
	      'fontStyle': 'italic',
	      'graphOrientation': 'vertical',
	      'graphType': 'Bar',
	      'legendBox': false,
	      'legendScaleFontFactor': 1.2,
	      'marginBottom': 30,
	      'showShadow': true,
	      'title': search_metabolite_js,
	      'titleHeight': 60,
	      'xAxis2Show': false}
	);
	{% endif %}
	
	{% if is_gxp_exp %}
	
	var cx3 = new CanvasXpress('canvas3',
		      {		
		        'y':{
		        	'smps' : marker_list_js,
		        	'data' : exp_list_js,
		         	'vars' : ['LOD G'],
				 	'desc' : ['LOD G']
		        }
		      },
		  	     
		      {'axisTickFontStyle': 'bold',
		      'axisTickScaleFontFactor': 1.5,
		      'axisTitleFontStyle': 'italic',
		      'axisTitleScaleFontFactor': 1.5,         
		      'citationFontStyle': 'italic',
		      'fontStyle': 'italic',
		      'graphOrientation': 'vertical',
		      'graphType': 'Dotplot',
		      'legendBox': false,
		      'legendScaleFontFactor': 1.2,
		      'marginBottom': 30,
		      'showShadow': true,
		      'title': search_metabolite_js,
		      'titleHeight': 60,
		      'xAxis2Show': false
		      }
	);
	{% endif %}
	//cx3.drawLine('dashed',18,18,613,613,'rgb(0,255,255)',10,'butt');
	
	{% if is_gxe_exp %}
	
	var cx4 = new CanvasXpress('canvas4',
		      {		
		        'y':{
		        	'smps' : marker_env_list_js,
		        	'data' : exp_env_list_js,
		         	'vars' : ['LOD GxE'],
				 	'desc' : ['LOD GxE']
		        }
		      },
		  	     
		      {'axisTickFontStyle': 'bold',
		      'axisTickScaleFontFactor': 1.5,
		      'axisTitleFontStyle': 'italic',
		      'axisTitleScaleFontFactor': 1.5,         
		      'citationFontStyle': 'italic',
		      'fontStyle': 'italic',
		      'graphOrientation': 'vertical',
		      'graphType': 'Dotplot',
		      'legendBox': false,
		      'legendScaleFontFactor': 1.2,
		      'marginBottom': 30,
		      'showShadow': true,
		      'title': search_metabolite_js,
		      'titleHeight': 60,
		      'xAxis2Show': false
		      }
	);
	{% endif %}
	
	{% if is_gxp_exp and is_gxe_exp %}
	var cx5 = new CanvasXpress('canvas5',
		      {		
		        'y':{
		        	'smps' : marker_list_js,
		        	'data' : exp_all_list_js,
		         	'vars' : ['LOD G','LOD GxE'],
				 	'desc' : ['LOD']
		        }
		      },
		  	     
		      {'axisTickFontStyle': 'bold',
		      'axisTickScaleFontFactor': 1.5,
		      'axisTitleFontStyle': 'italic',
		      'axisTitleScaleFontFactor': 1.5,         
		      'citationFontStyle': 'italic',
		      'fontStyle': 'italic',
		      'graphOrientation': 'vertical',
		      'graphType': 'Dotplot',
		      'legendBox': false,
		      'legendScaleFontFactor': 1.2,
		      'marginBottom': 30,
		      'showShadow': true,
		      'title': search_metabolite_js,
		      'titleHeight': 60,
		      'xAxis2Show': false
		      }
	);
	{% endif %}
}

</script>
  <body onload="showDemo();">   
  	
  	<ul>
	  	<li> You are search for {{ search_metabolite|safe }}</li>
		<li> Peak expression: {{ peak_lod_js|safe }} </li>
		<li> Peak marker: <a href ="chromosome">{{ peak_marker_js|safe }}</a> [hint: click the peak marker link to see the location on the chromosome] </li>
		<li> Peak expression: {{ peak_lod_js|safe }} </li>
		<li> GxE peak marker: {{ js_peak_marker_env|safe }} </li>
		<li> GxE Peak expression: {{ js_peak_lod_env|safe }} </li>
		
	</ul>

    <div>
    		{% if is_parent_exp %}
      		<canvas id='canvas1' width='540' height='540'></canvas>
      		{% endif %}
      		{% if is_ril_exp %}
      		<canvas id='canvas2' width='540' height='540'></canvas>
      		{% endif %}
      		{% if is_gxp_exp %}
      		<canvas id='canvas3' width='1080' height='540'></canvas>
      		{% endif %}
      		{% if is_gxe_exp %}
      		<canvas id='canvas4' width='1080' height='540'></canvas>
      		{% endif %}
      		{% if is_gxp_exp and is_gxe_exp %}
      		<canvas id='canvas5' width='1080' height='540'></canvas>
      		{% endif %}
    </div>

  </body>


{% else %}

	<form action="." method="get">
		<label for="search_metabolite">Locus</label>
		<input id="search_metabolite" name ="metabolite" type="text" required/>

		<select id = "experiment" name = "experiment">
			{% for exp in exps %}
				<option value = "{{ exp }}">{{ exp }}</option>
			{% endfor %}
		</select>
		<input type="submit" id="search_submit" value="Search" />

	</form>
{% endif %}
{% endblock %}



