{% extends 'base.html' %}

{% block content %}

{% if overlap_traits %}
{% load extra_templatetag_corr %}
{% load staticfiles %}


<link rel="stylesheet" href="{% static 'qtl/css/canvasXpress.css' %}" type="text/css"/>

<script type="text/javascript" src="{% static 'qtl/js/canvasXpress.min.js' %}"></script>

<script id='demoScript'> 
var search_gene = {{search_gene|safe}}
var marker_list = {{marker_list|safe}}
var traits_list = {{traits_list|safe}}
var overlap_traits_exp_list = {{overlap_traits_exp_list|safe}}

var showDemo = function () {
	var cx3 = new CanvasXpress('canvas4',
		      {		
		        'y':{
		        	'smps' : marker_list,
		        	'data' : overlap_traits_exp_list,
		         	'vars' : traits_list,
				 	'desc' : ['LOD']
		        }
		      },
		  	     
		      {'colorScheme': 'basic',
		       'graphOrientation': 'vertical',
		       'graphType': 'Line',
		       'lineType': 'spline',
		       'showAnimation': true,
		       'showShadow': true,
			   'smpTitle': 'candidate co-regulated genes',
		       'smpTitleFontStyle': 'italic',
		       'title': search_gene,
		       'titleHeight': 80}
	);
}
</script>
<body onload="showDemo();"> 
	<div>
		<canvas id='canvas4' width='1080' height='540'></canvas>
	</div>
	<ul>
		<li> query_gene: {{ search_gene}} </li>
		<li> Peak_marker: {{peak_marker}} </li>
		<li> Peak_lod: {{peak_lod}} </li>
		{% if lod_thld %}
			<li> lod_thld: {{lod_thld}} </li>
		{% endif %}	
		{% if overlap_traits %}
			{% for trait in overlap_traits %}
		 		<li>e-traits:{{ trait.locus_identifier_id}}, expression (LOD):{{trait.LOD_score}}, Pearson correlation: {{corr|get_key:trait.locus_identifier_id }} </li>
			{% endfor %}
		{% endif %}	
	</ul>
	
</body>

{% else %}
	<p>something wrong
{% endif %}

{% endblock %}