{% extends 'base.html' %}

{% block content %}

{% if overlap_traits %}
{% load extra_templatetag_corr %}
{% load staticfiles %}


<link rel="stylesheet" href="{% static 'qtl/css/canvasXpress.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'qtl/css/jquery.dataTables.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'qtl/css/shCore.css' %}" type="text/css"/>

<script type="text/javascript" src="{% static 'qtl/js/canvasXpress.min.js' %}"></script>
<script type="text/javascript" src="{% static 'qtl/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'qtl/js/shCore.js' %}"></script>
<script type="text/javascript" src="{% static 'qtl/js/demo.js' %}"></script>
<script type="text/javascript" language = "javascript" class = "init">

$(document).ready(function(){
	$( marker_table ).DataTable();
});
</script>

<script id='demoScript'> 
var search_gene = {{search_gene|safe}}
var marker_list = {{marker_list|safe}}
var traits_list = {{traits_list|safe}}
var overlap_traits_exp_list = {{overlap_traits_exp_list|safe}}

var showDemo = function () {
	var cx3 = new CanvasXpress('canvas4',
		      {		
		        'y':{
		        	'smps' : marker_list,
		        	'data' : overlap_traits_exp_list,
		         	'vars' : traits_list,
				 	'desc' : ['LOD']
		        }
		      },
		  	     
		      {'colorScheme': 'basic',
		       'graphOrientation': 'vertical',
		       'graphType': 'Line',
		       'lineType': 'spline',
		       'showAnimation': false,
		       //'showAnimation': true,
		       'showShadow': true,
			   'smpTitle': 'candidate co-regulated genes',
		       'smpTitleFontStyle': 'italic',
		       'title': search_gene,
		       'titleHeight': 80}
	);
}
</script>
<body onload="showDemo();"> 
	<div>
		<canvas id='canvas4' width='1080' height='540'></canvas>
	</div>
	
	<ul>
		<li> query_gene: {{ search_gene}} </li>
		<li> Peak_marker: {{peak_marker}} </li>
		<li> Peak_lod: {{peak_lod}} </li>
		{% if lod_thld %}
			<li> lod_thld: {{lod_thld}} </li>
		{% endif %}	
		{% if overlap_traits %}
		
			<table id="marker_table" class = "display" cellspacing = "0" width = "60">
				<thead>
					<tr>
						<th>Locus identifier</th>
						<th>LOD</th>
						<th>Correlation coefficient</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Locus identifier</th>
						<th>LOD</th>
						<th>Correlation coefficient</th>
					</tr>
				</tfoot>
				<tbody>
					{% for trait in overlap_traits %}
					<tr>
							<td>{{ trait.locus_identifier_id}}</td>
							<td>{{ trait.LOD_score}}</td>
							<td>{{ corr|get_key:trait.locus_identifier_id }}</td>
					</tr>
					{% endfor %}
				</tbody>	
			</table>
			
		 
		{% endif %}	
	</ul>
	
</body>

{% else %}
	<p>something wrong
{% endif %}

{% endblock %}