{% extends 'base.html' %}

{% block content %}

<form action="/qtl/upload/" method="post" enctype="multipart/form-data" >
<input name = "genefile" type="file" id="genefile" /> 
<input type="submit" id="gene_submit" value = "Gene upload" /> <br><br>
<input name = "markerfile" type="file" id="marker_file" />
<input type="submit" id="marker_submit" value = "Marker upload" /> <br><br>
<input name = "expfile" type="file" id="exp_file" />
<input type="submit" id="exp_submit" value = "Gene expression upload" /> <br><br>
<input name = "parentfile" type="file" id="parent_file" />
<input type="submit" id="parent_submit" value = "Gene expression in parent upload" /> <br><br>
<input name = "rilfile" type="file" id="ril_file" />
<input type="submit" id="ril_submit" value = "Gene expression in RIL upload" /> <br><br>
<input name = "metabolitefile" type="file" id="metabolitefile" />
<input type="submit" id="metabolite_submit" value = "metabolite upload" /> <br><br>
<input name = "MParentFile" type="file" id="MParentFile" />
<input type="submit" id="MParent_submit" value = "Metabolite expression in parent upload" /> <br><br>
<input name = "MRILFile" type="file" id="MRILFile" />
<input type="submit" id="MRIL_submit" value = "Metabolite expression in RIL upload" /> <br><br>
<input name = "MLODFile" type="file" id="MLODFile" />
<input type="submit" id="MLOD_submit" value = "Metabolite expression upload" /> <br><br>
<input name = "envLODFile" type="file" id="envLODFile" />
<input type="submit" id="envLOD_submit" value = "Gene env expression upload" /> <br><br>
<input name = "envMLODFile" type="file" id="envMLODFile" />
<input type="submit" id="envMLOD_submit" value = "Metabolite env expression upload" /> <br><br>
<input name = "geneUpDateFile" type="file" id="geneUpDateFile" />
<input type="submit" id="geneUpdate_submit" value = "geneUpdate" /> <br><br>
<input name = "genotypeFile" type="file" id="genotypeFile" />
<input type="submit" id="genotype_submit" value = "Genotype upload" /> <br><br>

{% csrf_token %}
</form>

{% endblock %}